#quote-box {
  background-color: white;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-style: double;
  border-width: 5px;
}
#text {
  font-size: 3vw;
  line-height: 1.2;
  padding-bottom: 5%;
}
#author {
  font-size: 2vw;
  padding-bottom: 5%;
}
#tweet-quote {
  position: relative;
  right: 30%;
}
#new-quote {
  font-size: 2vw;
  position: relative;
  left: 30%;
  color: white;
  border-radius: 5px;
  padding: 1vw;
  border: none;
}
button:focus {
  border: none;
  outline: none;
}
